.dataframe {
    display: inline-block;
}
.dataframe td {
    vertical-align: middle;
    text-align: right;
}
tbody tr:hover {background: rgba(66, 165, 245, 0.2);}

.dataframe {
    display: inline-block;
}
.dataframe td {
    vertical-align: middle;
    text-align: right;
}
tbody tr:hover {background: rgba(66, 165, 245, 0.2);}

:root {
    --blue-light: #d0e7ff;
    --blue-medium: #7fbfff;
    --blue-dark: #136ecf;
    --blue-darker: #0b4b91;
    --white: #FFFFFF;
    --blue-lightest: #eaf4ff;
    --blue-medium-light: #a9d1ff;
    --blue-dark-light: #4d97e0;
    --grey-medium: #808080;
    --orange-light: #F5CBA7;
    --orange-dark: #f35c24;
    --orange-dark-2: #f39624;
    --yellow-light: #f8c471;
    --green-light: #87D34D;
    --green-medium: #598B2C;
    --green-dark: #31761E;
   /* Question / Answer palette */
    --purple-light: #efe6ff;   /* soft lavender */
    --purple-dark:  #6f42c1;   /* friendly purple */
    --teal-light:   #e6faf6;   /* soft mint */
    --teal-dark:    #0f766e;   /* calm teal */
}

/* Definition */
.definition {
    margin: 0.5em 0;
    border: 1px solid var(--blue-dark);
    border-radius: 5px;
}

.definition-header {
    padding: 10px 15px; /* Added more padding for the header */
    color: var(--white);
    background-color: var(--blue-dark-light);
    border-top-right-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 0em;
    padding-left:  60px;
    padding-top:  5px;
    padding-bottom: 0.1em;
    color: var(--white);
    background-color: var(--blue-dark-light);
    border-top-right-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-image: url("img/book.png");
}

.definition-container {
    padding: 15px 20px; /* Increased padding inside the container */
    color: var(--blue-darker);
    color: var(--grey-medium);
    background-color: var(--white);
    border-bottom-right-radius: 5px;
}

/* Heads-up */
.Heads-up {
    margin: 0.5em 0;
    border: 1px solid var(--blue-medium);
    border-radius: 5px;
}

.Heads-up-header {
    padding: 10px 15px; /* Added more padding for the header */
    color: var(--white);
    background-color: var(--blue-medium-light);
    border-top-right-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 0em;
    padding-left:  60px;
    padding-top:  5px;
    padding-bottom: 0.1em;
    color: var(--white);
    background-color: var(--blue-medium-light);
    border-top-right-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-image: url("img/brain.png");
}

.Heads-up-container {
    padding: 15px 20px; /* Increased padding inside the container */
    color: var(--blue-dark);
    color: var(--grey-medium);
    background-color: var(--white);
    border-bottom-right-radius: 5px;
}

/* Tip */
.Tip {
    margin: 0.5em 0;
    border: 1px solid var(--blue-light);
    border-radius: 5px;
}

.Tip-header {
    padding: 10px 15px; /* Added more padding for the header */
    color: var(--blue-darker);
    background-color: var(--blue-lightest);
    border-top-right-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 0em;
    padding-left:  60px;
    padding-top:  5px;
    padding-bottom: 0.1em;
    color: var(--blue-darker);
    background-color: var(--blue-lightest);
    border-top-right-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-size: 38px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-image: url("img/bulb.png");
}

.Tip-container {
    padding: 15px 20px; /* Increased padding inside the container */
    color: var(--blue-medium);
    background-color: var(--white);
    border-bottom-right-radius: 5px;
    color: var(--grey-medium);
    background-color: var(--white);
    border-bottom-right-radius: 5px;
}

/* Warning */
.Warning {
    margin: 0.5em 0;
    border: 1px solid var(--orange-dark);
    border-radius: 5px;
}

.Warning-header {
    margin-left: 0em;
    padding-left: 20px;
    padding-top:5px;
    padding-bottom: 0.1em;
    color: var(--orange-dark);
    background-color: var(--yellow-light);
    border-top-right-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 15px center;
}

.Warning-container {
    padding: 15px 20px; /* Increased padding inside the container */
    color: var(--grey-medium);
    background-color: var(--white);
    border-bottom-right-radius: 5px;
}

/* Equivalence */
.Equivalence {
    margin: 0.5em 0;
    border: 1px solid var(--orange-dark);
    border-radius: 5px;
}

.Equivalence-header {
    margin-left: 0em;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 0.1em;
    color: var(--white);
    background-color: var(--orange-dark-2);
    border-top-right-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-image: url("img/exclamation.png");
}

.Equivalence-container {
    padding: 15px 20px; /* Increased padding inside the container */
    color: var(--grey-medium);
    background-color: var(--white);
    border-bottom-right-radius: 5px;
}

/* Learning Objectives */
.LO {
    margin: 0.5em 0;
    border: 1px solid var(--green-medium);
    border-radius: 5px;
}

.LO-header {
    margin-left: 0em;
    padding-left: 60px;
    padding-top:5px;
    padding-bottom: 0.1em;
    color: var(--green-dark);
    background-color: var(--green-light);
    border-top-right-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-image: url("img/list.png");
}

.LO-container {
    padding: 15px 20px; /* Increased padding inside the container */
    color: var(--grey-medium);
    background-color: var(--white);
    border-bottom-right-radius: 5px;
}

/* Question */
.Question {
    margin: 0.5em 0;
    border: 1px solid var(--purple-dark);
    border-radius: 5px;
}

.Question-header {
    margin-left: 0em;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 0.1em;
    color: var(--purple-dark);
    background-color: var(--purple-light);
    border-top-right-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-image: url("img/question.png");
}

.Question-container {
    padding: 15px 20px;
    color: var(--grey-medium);
    background-color: var(--white);
    border-bottom-right-radius: 5px;
}


/* Answer */
.Answer {
    margin: 0.5em 0;
    border: 1px solid var(--teal-dark);
    border-radius: 5px;
}

.Answer-header {
    margin-left: 0em;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 0.1em;
    color: var(--teal-dark);
    background-color: var(--teal-light);
    border-top-right-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-image: url("img/check.png");
}

.Answer-container {
    padding: 15px 20px;
    color: var(--grey-medium);
    background-color: var(--white);
    border-bottom-right-radius: 5px;
}

.Answer-container details summary {
  cursor: pointer;
  font-weight: 700;
}

.Answer-container details > *:not(summary) {
  margin-top: 0.75em;
}
