.dataframe {
    display: inline-block;
}
.dataframe td {
    vertical-align: middle;
    text-align: right;
}
tbody tr:hover {background: rgba(66, 165, 245, 0.2);}

.wrapping {
  float: right;
  shape-outside: url("img/books.jpg");
  shape-margin: 50px;
  width: 40%;
}

#fig-structure > figure > figcaption {
  float: left;
  clear: both;
}
